@import 'src/variables.scss';

.container {
  width: 90%;
  margin: 0 auto;
}

.app {
  padding-block: $main-distance;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $main-distance;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Righteous', sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 1.25;
  &--main {
    font-size: $header-size;
  }
  &--accent {
    font-size: $header-size;
    color: $main-color;
  }
}

.img-loading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-loading img {
  display: block;
  width: 100%;
  max-width: 512px;
  border-radius: 2.5%;
}

.search-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: $main-distance;
}

.input-box {
  position: relative;
  width: 100%;
}

.search-input {
  font-family: 'Varela Round', sans-serif;
  width: 100%;
  padding-block: 0.65em;
  background-color: $search-box-color;
  border: none;
  outline: none;
  font-size: 18px;
  color: $main-text-color;
  padding-left: calc(1.25 * $main-distance);
  padding-right: calc(2.5 * 1.25 * $main-distance);
  border-radius: 500px;
}

.search-input::placeholder {
  font-family: 'Varela Round', sans-serif;
  color: $placeholder-color;
  font-size: 1rem;
}

.reset {
  position: absolute;
  top: 48%;
  right: 5%;
  cursor: pointer;
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: $placeholder-color;
    transform: rotate(45deg);
    top: 0;
    right: 0;
    border-radius: 500px;
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: $main-distance;
}

.btn {
  font-family: 'Varela Round', sans-serif;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 500px;
  padding-block: 0.5em;
  cursor: pointer;
  background-color: $main-color;
  color: $main-text-color;
  font-size: 1.25rem;
}

.btn--download {
  background-color: $placeholder-color;
}

.spinner {
  position: absolute;
}

@media (min-width: 350px) {
  .header {
    &--main {
      font-size: calc(1.4 * $header-size);
    }
    &--accent {
      font-size: calc(1.4 * $header-size);
    }
  }

  .search-input {
    padding-block: 0.85em;
  }

  .btn {
    padding-block: 0.7em;
  }
}

@media (min-width: 550px) {
  .container {
    width: 512px;
  }

  .app {
    gap: $secondary-distance;
  }

  .header {
    flex-direction: row;
  }

  .search-box {
    gap: $secondary-distance;
  }
}
