$main-color: hsl(326, 78%, 50%);
$main-background-color: #0f1b21;
$main-text-color: white;
$placeholder-color: #999;
$search-box-color: #1f3540;

$header-size: calc(1rem * 2.5);

$main-distance: 1em;
